.carousel-cus {
    margin: 5% 5% 1% 5%;
}

.border-card-inner {
    border-radius: 30px;
}

.carousel-caption-cus {
    position: unset;
    padding-top: 40px;
}
.profile-first-0
{
    border-radius: 50%;
    width: 38px;
    margin-right: 25px;
    box-shadow: 2px 2px 12px 2px #ccc;
}

.profile-first-1 {
    margin-right: 25px;
    background: #E54B45;
    border-radius: 24px;
    width: 62px;
    height: 28px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}
.profile-first-2 {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}